.line-page {
  margin-top: 30px;

  .dropdown {
    margin-bottom: 20px;
    .btn {
      width: 80%;
      margin-left: 10%;
    }
    .dropdown-menu {
      width: 90%;
      margin-left: 5%;
      text-align: center;
      li {
        cursor: pointer;
      }
    }
  }

  .configuration-area {
    background-color: #f2f2f2;
    height: 348px;
    overflow:auto;
    border: 1px solid rgba(128, 128, 128, 0.50);

    .polinomials {
      .basic-config {
        margin-top: 10px;
      }
      .function-config {
        text-align: center;
        margin-bottom: 10px;
        p {
          margin: 0;
        }
      }
      .apply-button {
        position: unset;
        bottom: 30px;
        left: 0;
        width: 40%;
        margin-left: 30%;
        margin-bottom: 30px;
      }
      h3 {
        text-align: center;
      }
    }

    .apply-button {
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 40%;
      margin-left: 30%;
    }
    .col-md-4 {
      padding: 0;
    }
    .row {
      margin: 0;
    }
    .modified {
      width: 60px;
      display: inline-block;
    }
  }

  /* Customize pure-random container */
  @media (min-width: 768px) {
    .pure-random {
      margin-left: 40px;
      margin-top: 30px;
    }
    .polinomials {
      .config-option {
        text-align: center;
        width: 60%;
        margin-left: 20%;
      }
      .coefficient {
        display: block;
        margin-left: 0;
      }
    }
  }
  @media (min-width: 992px) {
    .pure-random {
      margin-left: 80px;
      margin-top: 30px;
    }
    .polinomials {
      .config-option {
        text-align: center;
        width: 60%;
        margin-left: 20%;
      }
      .coefficient {
        display: inline-block;
      }
    }
  }
  @media (min-width: 1200px) {
    .pure-random {
      margin-left: 110px;
      margin-top: 30px;
    }
    .polinomials {
      .config-option {
        text-align: center;
        width: 60%;
        margin-left: 20%;
      }
      .coefficient {
        display: inline-block;
      }
    }
  }


  .coefficient{
    padding: 15px;
  }

  .chart-area {
    border: 1px solid rgba(128, 128, 128, 0.50);
  }

  h3 {
    text-align: center;
  }
}
