.other-page {
  margin-top: 30px;

  .dropdown {
    margin-bottom: 20px;

    .btn {
      width: 80%;
      margin-left: 10%;
    }
    .dropdown-menu {
      width: 90%;
      margin-left: 5%;
      text-align: center;
      li {
        cursor: pointer;
      }
    }
  }

  .configuration-area {
    background-color: #f2f2f2;
    height: 348px;
    overflow:auto;
    border: 1px solid rgba(128, 128, 128, 0.50);

    .other-heatmap {
      margin-top: 40px;
    }
    .other-tilemap {
      margin-top: 40px;
    }
    .other-polar {
      margin-top: 20px;
    }
    .other-pyramid {
      margin-top: 50px;
    }
    .polar-type-selector {
      margin-top: 20px;
      width: 60%;
      margin-left: 20%;
    }
    .other-wordcloud {
      margin-top: 30px;
      .config-option {
        width: 80%;
        margin-left: 10%;
      }
      .input-textarea {
        resize: none;
        height: 125px;
      }
      .checkbox {
        text-align: center;
      }
    }
    .other-gauge {
      margin-top: 30px;
      .config-option {
        width: 80%;
        margin-left: 10%;
      }
      .input-textarea {
        resize: none;
        height: 125px;
      }
      .checkbox {
        text-align: center;
      }
    }
    .other-sankey {
      margin-top: 50px;
      span {
        font-size: 16px;
        margin-left: 5px;
      }
      .config-option {
        width: 80%;
        margin-left: 10%;
      }
    }
    .color-pickers {
      margin-top: 20px;
    }
    .color-picker-item {
      display: inline-block;
      width: 33%;
      text-align: center;
    }
    .color-picker-item-tilemap {
      display: inline-block;
      width: 50%;
      text-align: center;
    }
    .apply-button {
      position: absolute;
      bottom: 30px;
      left: 0;
    }
    .col-md-4 {
      padding: 0;
    }
    .row {
      margin: 0;
    }
    .modified {
      width: 60px;
      display: inline-block;
    }
    .position-dynamic {
      position: unset;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }

  /* Customize pure-random container */
  @media (min-width: 0px) {
    .other-heatmap {
      margin-left: 33%;
    }
    .other-tilemap {
      margin-left: 33%;
    }
    .other-polar {
      margin-left: 33%;
    }
    .other-pyramid {
      margin-left: 33%;
    }
    .apply-button {
      width: 40%;
      margin-left: 30%;
    }
    .configuration-area {
      margin-bottom: 20px;
    }
    .chart-area {
      border: none;
    }
  }

  @media (min-width: 768px) {
    .other-heatmap {
      margin-left: 40px;
    }
    .other-tilemap {
      margin-left: 40px;
    }
    .other-polar {
      margin-left: 40px;
    }
    .other-pyramid {
      margin-left: 40px;
    }
    .apply-button {
      width: 80%;
      margin-left: 10%;
    }
    .configuration-area {
      margin-bottom: 0;

      .color-picker-item {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
    .chart-area {
      border: 1px solid rgba(128, 128, 128, 0.50);
    }
  }

  @media (min-width: 992px) {
    .other-heatmap {
      margin-left: 80px;
    }
    .other-tilemap {
      margin-left: 80px;
    }
    .other-polar {
      margin-left: 80px;
    }
    .other-pyramid {
      margin-left: 80px;
    }
    .configuration-area {
      .color-picker-item {
        display: inline-block;
        width: 33%;
        text-align: center;
      }
    }
    .apply-button {
      width: 60%;
      margin-left: 20%;
    }
  }

  @media (min-width: 1200px) {
    .other-heatmap {
      margin-left: 110px;
    }
    .other-tilemap {
      margin-left: 110px;
    }
    .other-polar {
      margin-left: 110px;
    }
    .other-pyramid {
      margin-left: 110px;
    }
    .configuration-area {
      .color-picker-item {
        display: inline-block;
        width: 33%;
        text-align: center;
      }
    }
    .apply-button {
      width: 40%;
      margin-left: 30%;
    }
  }

  h3 {
    text-align: center;
  }
}
