<!DOCTYPE html>
<html>
  <head>
    
    <% include partials/head.ejs %>

  </head>

  <body>
  	<div id="box"></div>

    <script type="text/javascript" src="/build/box.entry.js"></script>
 
  </body>
</html>