<!DOCTYPE html>
<html>
  <head>

    <% include partials/head.ejs %>

  </head>

  <body>
  	<div id="app"></div>

    <script type="text/javascript" src="/build/app.entry.js"></script>

  </body>
</html>
