footer {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

footer p {
  float: left;
  margin: 0 20px 20px 0;
  color: #999;
  letter-spacing: 0.3px;
  font-size: 14px;
  text-indent: 0px;
}

footer .social-media-icons {
  float: right;
}

footer .social-media-icons i {
  font-size: 24px;
  color: #999;
  transition: 0.5s ease-in-out;
}

footer .social-media-icons a + a {
  margin-left: 20px;
}


footer .footer-facebook:hover i {
  color: #3b5998;
}

footer .footer-vk:hover i {
  color: #000000;
}

footer .footer-linkedin:hover i {
  color: #0077b5;
}
