.app {
  p {
    text-indent: 20px;
    text-align: justify;
  }

  .main-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @import 'header';
  @import 'footer';
  @import 'content';
  @import 'not-found';
  @import 'tooltip';
}
