.help {
  display: inline-block;
}

.help__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-top: 3px;
  border-radius: 50%;
  line-height: 1;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  background-color: #f5f7f9;
  color: #777;
  border: 1px solid #d0d4dc;
  transition: background-color .2s linear;
}

.help__icon:hover {
  background-color: #ddd;
}

.help:hover .help__content {
  visibility: visible;
  opacity: 1;
}

.help__content {
  position: absolute;
  z-index: 5;
  width: 250px;
  visibility: hidden;
  opacity: 0;
  transition: opacify .2s linear;
}

.help__text {
  display: inline-block;
  max-width: 250px;
  padding: 8px 10px;
  background-color: #333;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  text-align: left;
}

.help__content:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid;
}

.top {
  .help__content {
    bottom: calc(100% + 5px);
    left: -11px;
    text-align: left;
  }

  .help__content:before {
    top: 100%;
    left: 15px;
    border-color: #333 transparent transparent transparent;
  }
}

.bottom {
  .help__content {
    top: calc(100% + 5px);
    left: -11px;
    text-align: left;
  }

  .help__content:before {
    top: -10px;
    left: 15px;
    border-color: transparent transparent #333 transparent;
  }
}

.right {
  .help__content {
    top: -7px;
    left: calc(100% + 5px);
    text-align: left;
  }

  .help__content:before {
    top: 12px;
    left: -10px;
    border-color: transparent #333 transparent transparent;
  }
}

.left {
  .help__content {
    top: -7px;
    right: calc(100% + 5px);
    text-align: right;
  }

  .help__content:before {
    top: 12px;
    right: -10px;
    border-color: transparent transparent transparent #333;
  }
}